@font-face {
  font-family: 'Scribblybold';
  src: url('assets/fonts/Scribblybold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; font-family: 'Scribblybold', system-ui, -apple-system, Segoe UI, Roboto; }

 
body {
  width: 320px; height: 240px;
   margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  user-select: none;  
}

.close {
  position: absolute; top: 25px; right: 4px;
}
.close:hover { filter: brightness(0.95); }



.content {
  height: 155px; display: grid; place-items: center; gap: 8px;
}


.anim-bg {
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}



.clock {
  position: absolute;
  top: 190px;   
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  letter-spacing: 1px;
  font-variant-numeric: tabular-nums;
  color: black;  
  z-index: 2;

}


.footer {
  position: absolute; left: 12px; right: 0px; bottom: 12px;
  display: flex; align-items: center; justify-content: space-between;
}


button {
  border: none;
  background: transparent;             
  cursor: pointer;
}

button img {
  width: 50%;
  height: 50%;
margin-right: 10px;
   
}




.start {
  padding: 8px 14px; border: 0; border-radius: 12px; cursor: pointer;  
}


.drag { -webkit-app-region: drag; }
.no-drag { -webkit-app-region: no-drag; }
